{% load i18n %}

<script type="application/javascript">
    let industriessettings = {
        // Core
        corporation_id: 0,
        blueprint_id: {{ blueprint_id }},
        csrf: "{{ csrf_token }}",
        // URLs
        IndustryBlueprintUrl: '{% url "industries:api:get_blueprint_industry" blueprint_id=0 category="production" %}',
        IndustryBlueprintSearchUrl: '{% url "industries:blueprint_autocomplete" %}',
        // Update URLs

        // Translations
        translations: {
        }
    };
</script>
