{% extends 'industries/base.html' %}
{% load i18n %}
{% load humanize %}
{% load bootstrap %}
{% load static %}
{% load industries %}

{% block page_title %}
    {{ title }} ⋗ Industries
{% endblock %}

{% block page_topic %}
    <h1 class="page-header text-center">
        {{ title }}
    </h1>
{% endblock page_topic %}

{% block header_nav_collapse_left %}
    {% include 'industries/partials/menu/navigation.html' %}
{% endblock header_nav_collapse_left %}

{% block header_nav_collapse_right %}
    {% include 'industries/partials/menu/administration.html' %}
{% endblock header_nav_collapse_right %}

{% block industries_block %}
<div class="card card-body">
    {% include 'industries/partials/table/materials.html' %}
</div>
{% include 'industries/modals/modal.html' with name="ViewDetails" %}
{% endblock %}

{% block extra_css %}
{% endblock %}

{% block extra_javascript %}
    <!-- load modals -->
    <!-- load the datatables-js-bs5.html bundle -->
    {% include "bundles/jquery-ui-js.html" %}
    {% include "bundles/jquery-ui-css.html" %}
    {% include 'bundles/datatables-js-bs5.html' %}
    {% include "bundles/filterdropdown-js.html" %}
    <!-- load the settings bundle -->
    {% include "industries/bundles/settings-css.html" %}
    {% include 'industries/bundles/settings-js.html' %}
    <!-- load the blueprint search bundle -->
    {% include "industries/bundles/blueprint-search-bundle.html" %}

{% endblock extra_javascript %}

{% block extra_script %}
{% endblock extra_script %}
